@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121 !important;
    color: #ECECEC !important;
  }

  h1, h2, h3 {
    color: #f5f5f5 !important;
  }

  a {
    color: #82b1ff !important;
  }

  a:hover {
    color: #bb86fc !important;
  }

  .site-header, .footer {
    background-color: #212121 !important;
    color: #ECECEC !important;
  }
}
